@charset "utf-8";

$annebonny-col-width: 14.2857143%;
$annebonny-panel-zindex: 10002;
$annebonny-shade-zindex: 10001;

%annebonny-col {
    float: left;
    width: $annebonny-col-width;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    pointer-events: auto;
}

.annebonny {}

.annebonny-panel {
    max-height: 100%;
    @include position(fixed, false 0 0, $annebonny-panel-zindex);

    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.35);
}

.annebonny-container-calendar {
    > .hd {
        @include clearfix;
        background: #f0f0f0;

        .col {
            @extend %annebonny-col;
        }

        .year-col, .month-col {
            select {
                -webkit-appearance: none;
                border: 0;
                width: 100%;
                background: transparent;
                line-height: 40px;
                padding-left: 44%;
            }
        }

        .year-col {
            width: $annebonny-col-width * 4;
        }

        .month-col {
            width:  $annebonny-col-width * 3;
        }
    }
}

.annebonny-calendar-page {
    .line {
        @include clearfix;
    }

    .col {
        @extend %annebonny-col;
    }

    .day {
        &.prev-month,
        &.next-month {
            color: #d0d0d0;
        }

        &.now {
            color: $primary-color;
            font-weight: 700;
            text-decoration: underline;
        }

        &.selected {
            background: $primary-color;
            color: #fff;
        }
    }

    > .hd {
        background-color: #F7F7F7;
    }
}

.annebonny-week-bar {
    @include clearfix;
}

.annebonny-shade {
    @include position(fixed, 0, $annebonny-shade-zindex);
    pointer-events: auto;
}
