@charset "utf-8";

/// 主色调
$annebonny-primary-color: #428bca !default;

/// 面板背景色
$anneboony-background-color: #fff !default;

/// 头部背景色
$annebonny-header-background-color: #f0f0f0 !default;

/// 星期栏背景色
$annebonny-week-background-color: #f7f7f7 !default;

/// 年份文字颜色
$annebonny-year-color: #333 !default;

/// 月份文字颜色
$annebonny-month-color: #333 !default;

/// 星期文字颜色
$annebonny-week-color: #333 !default;

/// 日期文字颜色
$annebonny-day-color: #333 !default;

/// 次要日期文字颜色，如非本月日期
$annebonny-quiet-day-color: #d0d0d0 !default;

/// 月份切换按钮颜色
$annebonny-month-switcher-color: #777 !default;

/// 面板 z-index
$annebonny-panel-zindex: 10002 !default;

/// 遮罩 z-index
$annebonny-shade-zindex: 10001 !default;

$annebonny-col-width: 14.2857143%;

%annebonny-col {
    float: left;
    width: $annebonny-col-width;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
}

.annebonny {
    pointer-events: auto;
}

.annebonny-panel {
    max-height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $annebonny-panel-zindex;

    background: $anneboony-background-color;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.annebonny-container-calendar {
    > .hd {
        padding: 5px 0;
        position: relative;

        background: $annebonny-header-background-color;

        > .year, > .month {
            text-align: center;
        }

        > .year {
            height: 30px;
            line-height: 30px;
            font-size: 16px;

            color: $annebonny-year-color;
        }

        > .month {
            height: 20px;
            line-height: 20px;
            font-size: 12px;

            color: $annebonny-month-color;
        }

        > .prev-month, > .next-month {
            position: absolute;
            top: 0;
            bottom: 0;

            width: 60px;
            padding: 0;
            border: 0;
            background: transparent;
        }

        > .prev-month {
            left: 0;

            &:before {
                $size: 10px;

                content: '';
                width: 0;
                height: 0;

                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -$size / 2;
                margin-top: -$size;

                border-right: $size solid $annebonny-month-switcher-color;
                border-top: $size dashed transparent;
                border-bottom: $size dashed transparent;
            }

            &:after {
                $size: 8px;

                content: '';
                width: 0;
                height: 0;

                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -$size / 2 + 1px;
                margin-top: -$size;

                border-right: $size solid $annebonny-header-background-color;
                border-top: $size dashed transparent;
                border-bottom: $size dashed transparent;
            }
        }

        > .next-month {
            right: 0;

            &:before {
                $size: 10px;

                content: '';
                width: 0;
                height: 0;

                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -$size / 2;
                margin-top: -$size;

                border-left: $size solid $annebonny-month-switcher-color;
                border-top: $size dashed transparent;
                border-bottom: $size dashed transparent;
            }

            &:after {
                $size: 8px;

                content: '';
                width: 0;
                height: 0;

                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -$size / 2 - 1px;
                margin-top: -$size;

                border-left: $size solid $annebonny-header-background-color;
                border-top: $size dashed transparent;
                border-bottom: $size dashed transparent;
            }
        }
    }
}

.annebonny-calendar-page {
    .line {
        &:before, &:after {
            content: ' ';
            display: table;
        }

        &:after {
            clear: both;
        }
    }

    .col {
        @extend %annebonny-col;
    }

    .day {
        color: $annebonny-day-color;

        &.prev-month,
        &.next-month {
            color: $annebonny-quiet-day-color;
        }

        &.now {
            color: $annebonny-primary-color;
            font-weight: 700;
            text-decoration: underline;
        }

        &.selected {
            background: $annebonny-primary-color;
            color: #fff;
            font-weight: 700;
        }
    }

    .week {
        color: $annebonny-week-color;
    }

    > .hd {
        background-color: $annebonny-week-background-color;
    }
}

.annebonny-shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: $annebonny-shade-zindex;
    pointer-events: auto;
}
